@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a { 
  text-decoration: none !important;
}

@media (max-width: 768px) { /* Adjust max-width for your breakpoint */
  a {
    color: white !important;
    text-decoration: none !important;
  }
  #specbtn{
    margin-left: 0px !important;
    margin-top: 1em;
  }
}



h1, h2, h3, h4, h5, h6 {
  color:#2585f8 !important;
}


a:focus, a:hover {
  color: #2585f8 !important;
}


@media (max-width: 768px) {
  a {
      color: black !important;
      text-decoration: none !important;
  }
}


#catid{
  color:#000 !important;
  font-weight: 100;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 0 !important;
  font-size: 16px;
}

.justify-start { 
  margin: 1em;
}
 

#btn123:hover{
  color: #2585f8 !important;
  border: 1px solid #2585f8 !important;
  background: transparent !important;
}